
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<title>员工列表</title>

<!-- Bootstrap core CSS -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="dashboard.css" rel="stylesheet">
<script type="text/javascript">
	function edit(id) {
		location.href = "/user/edit/" + id;
	}
	function add(){
		location.href="/user/addUserPage";
	}
</script>
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="#">Overview <span class="sr-only">(current)</span></a>
					</li>
					<li>
						<a href="#">Reports</a>
					</li>
					<li>
						<a href="#">Analytics</a>
					</li>
					<li>
						<a href="#">Export</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div>
					<button th:onclick="add()">添加</button>
				</div>
				<h2 class="sub-header">员工列表</h2>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>用户名</th>
								<th>昵称</th>
								<th>邮箱</th>
								<th>注册时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user:${users}">
								<td th:text="${user.id}"></td>
								<td th:text="${user.userName}"></td>
								<td th:text="${user.nickName}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.regTime}"></td>
								<td th:if="${user.isUsable}">可用</td>
								<td th:if="${!user.isUsable}">不可用</td>
								<td>
									<button type="button" class="btn btn-primary btn-xs" th:onclick="'edit(\''+${user.id}+'\')'">编辑</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
	</script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
